#comment-info 
  margin-top: 10px
  font-weight: bold
  padding-bottom: 5px
  border-bottom: 1px dotted #808080
  font-size: 16px

#comment-info span
  margin-right: 8px


#comment-sort, #comment-sort input
  color: #808080
  font-size: 12px
  margin: 5px 0
  background-color: $background

#comment-sort

  input
    border-color: $border

    &[type='number']
      width: 54px
      appearance: textfield

      &:hover, &:focus
        appearance: none

  input, select
    &:hover, &:focus
      color: $light

  option
    color: $light
    background-color: $background
