{
	"presets": [
		["@babel/preset-env",
		{
			targets: 'defaults',
			useBuiltIns: 'usage',
			corejs: '3.21'
		}],
		"@babel/preset-react"
	],
	"plugins": [
		"@babel/plugin-proposal-class-properties"
	]
}
